body {
  background-color: black;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.block {
  border: 1px solid #e75551;
  padding: 10px;
  margin: 0;
}

.text {
  background-color: rgb(221, 221, 221);
}

.text p {
  margin: 0;
}

.yellow {
  margin: 10px;
  background-color: #ffa500;
}

.blue {
  background-color: #308dc0;
  margin: 20px 20px 40px;
  padding: 0;
  width: 350px;
}
